<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kclm.xsap.mapper.CourseMapper">
    <resultMap id="CourseEntity" type="com.kclm.xsap.model.entity.CourseEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="duration" property="duration"/>
        <result column="contains" property="contains"/>
        <result column="color" property="color"/>
        <result column="introduce" property="introduce"/>
        <result column="time_costs" property="timesCost"/>
        <result column="limit_counts" property="limitCounts"/>
        <result column="limit_age" property="limitAge"/>
        <result column="limit_sex" property="limitSex"/>
        <result column="create_time" property="createTime"/>
        <result column="last_modify_time" property="lastModifyTime"/>
        <result column="version" property="version"/>

    </resultMap>
    <select id="getAllCourseIds" resultType="long">
        SELECT `id`
        FROM t_course
    </select>

    <select id="selectCoursesByKeyword" resultMap="CourseEntity">
        SELECT *
        FROM t_course
        WHERE `name` LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>