<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kclm.xsap.mapper.MemberBindRecordMapper">

    <select id="getBindCardIdsByMemberId" resultType="long">
        select card_id from t_member_bind_record where member_id = #{memberId}
    </select>

</mapper>