<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kclm.xsap.mapper.MemberLogMapper">

    <select id="getOperateRecordVoByMemberIdAndCardId" resultType="com.kclm.xsap.model.vo.OperateRecordVo">
        SELECT ml.last_modify_time   operateTime,
               ml.type               operateType,
               ml.card_count_change  changeCount,
               ml.involve_money      changeMoney,
               ml.operator,
               ml.note               card_note,
               ml.card_active_status status
        FROM t_member_log ml
                 JOIN t_member_bind_record mbr ON ml.member_bind_id = mbr.id
        WHERE mbr.member_id = #{memberId}
          AND mbr.id = #{cardId}
    </select>

</mapper>